body {
  background-color: #171717;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;

  margin: 0px;
  padding: 0px;

  scroll-behavior: smooth;
}

#opening-screen {
  position: absolute;
  text-align: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#opening-title {
  padding: 0px;
}

#blog-title {
  position: absolute;
  text-align: center;

  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#about-section {
  padding-bottom: 600px;

  background-color: white;
  border-radius: 35px 35px 0px 0px;
  color: #171717;
  text-align: center;

  transform: translateY(1400px);
}

#blog-feed {
  background-color: white;

  height: 1400px;
  opacity: 0;
  width: 20%;
  padding: 200px;
  border-radius: 35px 35px 0px 0px;
  color: #171717;
  text-align: center;

  transform: translateY(600px);
}

#blog-feed:hover {
  opacity: 0.1;
}

::-webkit-scrollbar {
  display: none;
}

#navbar {
  font-weight: 300;
  font-size: 30px;
  position: fixed;
  z-index: 9999;
  background-color: #171717;
  padding-right: 100%;
  padding-bottom: 20px;
  white-space: nowrap;
  float: none;
}

.navbar-item {
  margin: 10px;
  color: white;
  position: relative; top: 5px;
  text-decoration: none;
}

#footer {
  width: 100%;
  height: 160px;
  background-color: #171717;
  z-index: 9998;

  transform: translateY(1400px);
}

.icon {
  position:absolute;
  top: 50px;
}

.footer-link {
  position:absolute;
  top: 70px;
  left: 95%;
  text-decoration: none;
  color: white;
}
